.navbar ul.navbar-nav li.list-items{
    background-color: rgba(95, 99, 95, 0.192) !important;

}


.navbar-light .navbar-nav .nav-link:hover{
    background-color: rgba(96, 99, 96, 0.075);
    color: black;
}
form .form-control:focus{
    box-shadow: none;

}
form label{
    color: rgb(0, 26, 78);
    font-size: 15px;
}
.select2-results__option:hover
{
    background-color: rgba(0, 110, 255, 0.719);
    cursor: pointer;
    color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: #001a4e;
    font-weight: 700;
}
.navbar .list-items{
    min-width: 120px;
}
.navbar .dropdown-menu {
    display: none !important;
}

.navbar .nav-item:hover .dropdown-menu {
    display: block !important;
}
.shadow{
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}


