.navbar ul.navbar-nav li.list-items{
    background-color: rgba(95, 99, 95, 0.192) !important;

}


.navbar-light .navbar-nav .nav-link:hover{
    background-color: rgba(96, 99, 96, 0.075);
    color: black;
}
form .form-control:focus{
    box-shadow: none;

}
form label{
    color: rgb(0, 26, 78);
    font-size: 15px;
}
.select2-results__option:hover
{
    background-color: rgba(0, 110, 255, 0.719);
    cursor: pointer;
    color: white;
}


